footer {
    background-color: $color-fondo;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: #777;
    margin-top: 2rem;

    .footer-heart {
        display: inline-block; 
        color: red;
        animation: pulse 1.5s infinite;
    }
}