@use "../base/variables" as v;

footer {
    background-color: v.$color-oscuro; 
    text-align: center;
    padding: 1.5rem; 
    font-size: 0.95rem; 
    color: v.$color-claro; 
    margin-top: 3rem; 

    .footer-heart {
        display: inline-block;
        color: red;
        animation: pulse 1.5s infinite; 
        margin: 0 5px; // Espacio alrededor del corazón
    }

    p {
        margin: 0; 
        color: v.$color-claro;
    }
}