header {
    text-align: center;
    padding: 2rem;
    background-color: $color-fondo;

    h1 {
    font-size: 3rem;
    color: $color-acento;
    }

    p {
    font-size: 1.2rem;
    color: #ccc;
    }
}