.personajes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.personaje {
    background-color: $color-secundario;
    border-radius: 10px;
    box-shadow: $sombra-normal;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 

    opacity: 0; 
    transform: translateY(20px); 
    animation: fadeInUp 0.8s ease-out forwards;
}

    img {
        width: 150px;
        height: auto;
        border-radius: 8px;
        margin-bottom: 1rem;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
    }

    h3 {
        color: $color-acento;
        margin-bottom: 0.5rem;
    }
}

.menu section img,
.universo img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}
